body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* image */
  background-image: url("http://sfwallpaper.com/images/uchiha-wallpaper-12.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

button{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}